/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --background-color: #000028;
  --heading-color: #ff0070;
  --title-color: #db00ff;
  --accent-heading-color: #000028;
  --decorative-elements: #ff0070;
  --accent-color: #ff0070;
  --main-fonts-family: 'IBM Plex mono', sans-serif;
  --main-font-size: 18px;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-text-color: #353430;
  --heading-color: #353430;
  --title-color: #ffc2e6;
  --background-color: #fff1f7;
  --accent-heading-color: #353430;
  --decorative-elements: #353430;
  --accent-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  }
}